@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource/fira-sans";
@import "@fontsource/montserrat";

@custom-variant dark (&:is(.dark *));

:root {
  /*
  * Theme colors structures and components
  */
  --background: oklch(1 0 0);
  --foreground: oklch(14.1% 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(14.1% 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(14.1% 0.005 285.823);

  /* Dark colors */
  --dark: oklch(14.1% 0.005 285.823);
  --dark-foreground: oklch(98.5% 0.002 247.839);
  --dark-50: oklch(98.5% 0 0);
  --dark-100: oklch(96.7% 0.001 286.375);
  --dark-200: oklch(92% 0.004 286.32);
  --dark-300: oklch(87.1% 0.006 286.286);
  --dark-400: oklch(70.5% 0.015 286.067);
  --dark-500: oklch(55.2% 0.016 285.938);
  --dark-600: oklch(44.2% 0.017 285.786);
  --dark-700: oklch(37% 0.013 285.805);
  --dark-800: oklch(27.4% 0.006 286.033);
  --dark-900: oklch(21% 0.006 285.885);
  --dark-950: oklch(14.1% 0.005 285.823); /* DEFAULT */

  /* Primary colors */
  --primary: oklch(60.9% 0.126 221.723);
  --primary-foreground: oklch(98.5% 0.002 247.839);
  --primary-50: oklch(98.4% 0.019 200.873);
  --primary-100: oklch(95.6% 0.045 203.388);
  --primary-200: oklch(91.7% 0.08 205.041);
  --primary-300: oklch(86.5% 0.127 207.078);
  --primary-400: oklch(78.9% 0.154 211.53);
  --primary-500: oklch(71.5% 0.143 215.221);
  --primary-600: oklch(60.9% 0.126 221.723); /* DEFAULT */
  --primary-700: oklch(52% 0.105 223.128);
  --primary-800: oklch(45% 0.085 224.283);
  --primary-900: oklch(39.8% 0.07 227.392);
  --primary-950: oklch(30.2% 0.056 229.695);

  /* Secondary colors */
  --secondary: oklch(54.1% 0.281 293.009);
  --secondary-foreground: oklch(98.5% 0.002 247.839);
  --secondary-50: oklch(96.9% 0.016 293.756);
  --secondary-100: oklch(94.3% 0.029 294.588);
  --secondary-200: oklch(89.4% 0.057 293.283);
  --secondary-300: oklch(81.1% 0.111 293.571);
  --secondary-400: oklch(70.2% 0.183 293.541);
  --secondary-500: oklch(60.6% 0.25 292.717);
  --secondary-600: oklch(54.1% 0.281 293.009); /* DEFAULT */
  --secondary-700: oklch(49.1% 0.27 292.581);
  --secondary-800: oklch(43.2% 0.232 292.759);
  --secondary-900: oklch(38% 0.189 293.745);
  --secondary-950: oklch(28.3% 0.141 291.089);

  /* Success colors */
  --success: oklch(59.6% 0.145 163.225);
  --success-foreground: oklch(98.5% 0.002 247.839);
  --success-50: oklch(97.9% 0.021 166.113);
  --success-100: oklch(95% 0.052 163.051);
  --success-200: oklch(90.5% 0.093 164.15);
  --success-300: oklch(84.5% 0.143 164.978);
  --success-400: oklch(76.5% 0.177 163.223);
  --success-500: oklch(69.6% 0.17 162.48);
  --success-600: oklch(59.6% 0.145 163.225); /* DEFAULT */
  --success-700: oklch(50.8% 0.118 165.612);
  --success-800: oklch(43.2% 0.095 166.913);
  --success-900: oklch(37.8% 0.077 168.94);
  --success-950: oklch(26.2% 0.051 172.552);

  /* Warning colors */
  --warning: oklch(68.1% 0.162 75.834);
  --warning-foreground: oklch(98.5% 0.002 247.839);
  --warning-50: oklch(98.7% 0.026 102.212);
  --warning-100: oklch(97.3% 0.071 103.193);
  --warning-200: oklch(94.5% 0.129 101.54);
  --warning-300: oklch(90.5% 0.182 98.111);
  --warning-400: oklch(85.2% 0.199 91.936);
  --warning-500: oklch(79.5% 0.184 86.047);
  --warning-600: oklch(68.1% 0.162 75.834); /* DEFAULT */
  --warning-700: oklch(55.4% 0.135 66.442);
  --warning-800: oklch(47.6% 0.114 61.907);
  --warning-900: oklch(42.1% 0.095 57.708);
  --warning-950: oklch(28.6% 0.066 53.813);

  /* Danger colors */
  --danger: oklch(57.7% 0.245 27.325);
  --danger-foreground: oklch(98.5% 0.002 247.839);
  --danger-50: oklch(97.1% 0.013 17.38);
  --danger-100: oklch(93.6% 0.032 17.717);
  --danger-200: oklch(88.5% 0.062 18.334);
  --danger-300: oklch(80.8% 0.114 19.571);
  --danger-400: oklch(70.4% 0.191 22.216);
  --danger-500: oklch(63.7% 0.237 25.331);
  --danger-600: oklch(57.7% 0.245 27.325); /* DEFAULT */
  --danger-700: oklch(50.5% 0.213 27.518);
  --danger-800: oklch(44.4% 0.177 26.899);
  --danger-900: oklch(39.6% 0.141 25.723);
  --danger-950: oklch(25.8% 0.092 26.042);

  /* Error colors */
  --error: oklch(57.7% 0.245 27.325);
  --error-foreground: oklch(98.5% 0.002 247.839);
  --error-50: oklch(97.1% 0.013 17.38);
  --error-100: oklch(93.6% 0.032 17.717);
  --error-200: oklch(88.5% 0.062 18.334);
  --error-300: oklch(80.8% 0.114 19.571);
  --error-400: oklch(70.4% 0.191 22.216);
  --error-500: oklch(63.7% 0.237 25.331);
  --error-600: oklch(57.7% 0.245 27.325); /* DEFAULT */
  --error-700: oklch(50.5% 0.213 27.518);
  --error-800: oklch(44.4% 0.177 26.899);
  --error-900: oklch(39.6% 0.141 25.723);
  --error-950: oklch(25.8% 0.092 26.042);

  /* Muted colors */
  --muted: oklch(87.2% 0.01 258.338);
  --muted-foreground: oklch(44.6% 0.03 256.802);
  --muted-50: oklch(98.5% 0.002 247.839);
  --muted-100: oklch(96.7% 0.003 264.542);
  --muted-200: oklch(92.8% 0.006 264.531);
  --muted-300: oklch(87.2% 0.01 258.338); /* DEFAULT */
  --muted-400: oklch(70.7% 0.022 261.325);
  --muted-500: oklch(55.1% 0.027 264.364);
  --muted-600: oklch(44.6% 0.03 256.802);
  --muted-700: oklch(37.3% 0.034 259.733);
  --muted-800: oklch(27.8% 0.033 256.848);
  --muted-900: oklch(21% 0.034 264.665);
  --muted-950: oklch(13% 0.028 261.692);

  --border: oklch(96.7% 0.003 264.542);
  --input: oklch(96.7% 0.003 264.542);
  --ring: oklch(96.7% 0.003 264.542);
  --radius-size: 2px;
  --text-size: 4px;
  --sidebar: oklch(98.5% 0.002 247.839);
  --sidebar-foreground: oklch(14.1% 0.005 285.823);
  --sidebar-primary: oklch(60.9% 0.126 221.723);
  --sidebar-primary-foreground: oklch(98.5% 0.002 247.839);
  --sidebar-border: oklch(96.7% 0.003 264.542);
  --sidebar-ring: oklch(96.7% 0.003 264.542);

  /*
  * Graphics colors
  */
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
}

@theme inline {
  /**
  * Text sizes
  */
  --text-10xl: calc(var(--text-size) * 15);
  --text-9xl: calc(var(--text-size) * 14);
  --text-8xl: calc(var(--text-size) * 13);
  --text-7xl: calc(var(--text-size) * 12);
  --text-6xl: calc(var(--text-size) * 11);
  --text-5xl: calc(var(--text-size) * 10);
  --text-4xl: calc(var(--text-size) * 9);
  --text-3xl: calc(var(--text-size) * 8);
  --text-2xl: calc(var(--text-size) * 7);
  --text-xl: calc(var(--text-size) * 6);
  --text-lg: calc(var(--text-size) * 5);
  --text-md: calc(var(--text-size) * 4);
  --text-sm: calc(var(--text-size) * 3);
  --text-xs: calc(var(--text-size) * 2);

  /**
  * Line heights
  */
  --leading-10xl: calc(var(--text-size) * 18);
  --leading-9xl: calc(var(--text-size) * 17);
  --leading-8xl: calc(var(--text-size) * 16);
  --leading-7xl: calc(var(--text-size) * 15);
  --leading-6xl: calc(var(--text-size) * 14);
  --leading-5xl: calc(var(--text-size) * 13);
  --leading-4xl: calc(var(--text-size) * 12);
  --leading-3xl: calc(var(--text-size) * 11);
  --leading-2xl: calc(var(--text-size) * 10);
  --leading-xl: calc(var(--text-size) * 9);
  --leading-lg: calc(var(--text-size) * 8);
  --leading-md: calc(var(--text-size) * 7);
  --leading-sm: calc(var(--text-size) * 6);
  --leading-xs: calc(var(--text-size) * 5);

  /*
  * Typography classes
  */
  --font-heading: "Fira Sans", sans-serif;
  --font-label: "Fira Sans", sans-serif;
  --font-sans: "Montserrat", sans-serif;

  /* Muted colors */
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-muted-50: var(--muted-50);
  --color-muted-100: var(--muted-100);
  --color-muted-200: var(--muted-200);
  --color-muted-300: var(--muted-300);
  --color-muted-400: var(--muted-400);
  --color-muted-500: var(--muted-500);
  --color-muted-600: var(--muted-600);
  --color-muted-700: var(--muted-700);
  --color-muted-800: var(--muted-800);
  --color-muted-900: var(--muted-900);
  --color-muted-950: var(--muted-950);

  /* Dark colors */
  --color-dark-foreground: var(--dark-foreground);
  --color-dark: var(--dark);
  --color-dark-50: var(--dark-50);
  --color-dark-100: var(--dark-100);
  --color-dark-200: var(--dark-200);
  --color-dark-300: var(--dark-300);
  --color-dark-400: var(--dark-400);
  --color-dark-500: var(--dark-500);
  --color-dark-600: var(--dark-600);
  --color-dark-700: var(--dark-700);
  --color-dark-800: var(--dark-800);
  --color-dark-900: var(--dark-900);
  --color-dark-950: var(--dark-950);

  /* Primary colors */
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  /* Secondary colors */
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);

  /* Success colors */
  --color-success-foreground: var(--success-foreground);
  --color-success: var(--success);
  --color-success-50: var(--success-50);
  --color-success-100: var(--success-100);
  --color-success-200: var(--success-200);
  --color-success-300: var(--success-300);
  --color-success-400: var(--success-400);
  --color-success-500: var(--success-500);
  --color-success-600: var(--success-600);
  --color-success-700: var(--success-700);
  --color-success-800: var(--success-800);
  --color-success-900: var(--success-900);
  --color-success-950: var(--success-950);

  /* Warning colors */
  --color-warning-foreground: var(--warning-foreground);
  --color-warning: var(--warning);
  --color-warning-50: var(--warning-50);
  --color-warning-100: var(--warning-100);
  --color-warning-200: var(--warning-200);
  --color-warning-300: var(--warning-300);
  --color-warning-400: var(--warning-400);
  --color-warning-500: var(--warning-500);
  --color-warning-600: var(--warning-600);
  --color-warning-700: var(--warning-700);
  --color-warning-800: var(--warning-800);
  --color-warning-900: var(--warning-900);
  --color-warning-950: var(--warning-950);

  /* Danger colors */
  --color-danger-foreground: var(--danger-foreground);
  --color-danger: var(--danger);
  --color-danger-50: var(--danger-50);
  --color-danger-100: var(--danger-100);
  --color-danger-200: var(--danger-200);
  --color-danger-300: var(--danger-300);
  --color-danger-400: var(--danger-400);
  --color-danger-500: var(--danger-500);
  --color-danger-600: var(--danger-600);
  --color-danger-700: var(--danger-700);
  --color-danger-800: var(--danger-800);
  --color-danger-900: var(--danger-900);
  --color-danger-950: var(--danger-950);

  /*
  * Theme colors structures and components classes
  */
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);

  /*
  * Radius size classes
  */
  --radius-10xl: calc(var(--radius-size) * 15);
  --radius-9xl: calc(var(--radius-size) * 14);
  --radius-8xl: calc(var(--radius-size) * 13);
  --radius-7xl: calc(var(--radius-size) * 12);
  --radius-6xl: calc(var(--radius-size) * 11);
  --radius-5xl: calc(var(--radius-size) * 10);
  --radius-4xl: calc(var(--radius-size) * 9);
  --radius-3xl: calc(var(--radius-size) * 8);
  --radius-2xl: calc(var(--radius-size) * 7);
  --radius-xl: calc(var(--radius-size) * 6);
  --radius-lg: calc(var(--radius-size) * 5);
  --radius-md: calc(var(--radius-size) * 4);
  --radius-sm: calc(var(--radius-size) * 3);
  --radius-xs: calc(var(--radius-size) * 2);

  /*
  * Graphics colors classes
  */
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background-color: var(--muted);
}
